@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
    font-family: head;
    src: url('.//assets/fonts/Merriweather-Bold.otf');
}


@font-face {
    font-family: logo;
    src: url(.//assets/fonts/LostaFrida-Bold.otf);
}

@font-face {
    font-family: hero;
    src: url(.//assets/fonts/eternalo.otf);
}